body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 90px;
}
.common-disply {
  display: flex;
}
.common-size {
  width: 50%;
}
.text {
  padding-top: 10%;
  padding-left: 10%;
}
#front-img {
  width: 80%;
}
#header {
  color: rgb(84, 82, 82);
  font-size: 40px;
  font-weight: 900;
}
.blue {
  color: #3c40c6;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(#575fcf, #3c40c6);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
}

.paragraph {
  padding-bottom: 15px;
  text-align: justify;
  color: gray;
}
#about-img{
  padding: 40px 30px 0px 150px;
  vertical-align: middle;
  width: 45%;
}
.about-background {
  color: rgb(84, 82, 82);
  background-image: url(images/about-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about-text{
  padding: 50px 60px 30px 0px;
}


.recipes-title h1{
  font-weight: 800;
}
.recipes-title {
color: gray;
text-align: center;
}
.recipes {
display: flex;
}
.recipe {
padding: 15px;
border-radius: 10px;
box-shadow: 1px 1px 20px gray;
margin: 30px;
}
.recipe p {
text-align: justify;
color: gray;

}

.recipe h3 {
color: rgb(67, 63, 63);
font-weight: 800;
font-size: 18px;
}
.recipe-img img {
width: 100%;
height: 220px;
border-radius: 10px;
}

.subscribes {
  box-shadow: 1px 1px 10px rgb(212, 219, 217);
  margin-bottom: 100px;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
.follow-part {
  display: flex;
  margin-left: 80px;
  margin-right: 60px;
  padding: 20px;
}
.follow {
  padding-left: 90px;
}
.follow h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

#black-part {
  height: 250px;
  color: white;
  text-align: center;
  background-color: black;
}
#text-last {
  padding-top: 50px;
}
.title {
  text-align: center;
  padding-top: 50px;
}
.reviews {
  box-shadow: 1px 1px 10px rgb(212, 219, 217);
  margin-left: 50px;
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  text-align: center;
}
.review {
  display: flex;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.gray {
  color: gray;
}
.dark-gray{
  color: rgb(96, 75, 75) ;
}
